<template>
    <div class="row justify-content-center">
        <div class="col-6 align-self-center justify-content-center">
            <div @mousemove.left="OnMouseMove"
                 @mousedown.left="OnMouseDown"
                 @mouseup.left="OnMouseUp"
                 id="blackboard">
            </div>
        </div>
        <div class="col-3 justify-content-center">
            <div class="text-center">
                <p class="d-inline">Server</p>
                <span class="d-inline badge badge-pill badge-warning" v-if="statusConnecting">Connecting</span>
                <span class="d-inline badge badge-pill badge-success" v-if="statusOnline">Online</span>
                <span class="d-inline badge badge-pill badge-danger" v-if="statusOffline">Offline</span>
            </div>
            <p class="display-4">Users:</p>
            <ul class="list-group">
                <li class="list-group-item list-group-item-success" v-for="user in users">
                    {{ user }}
                </li>
            </ul>
        </div>
    </div>
</template>

<style scoped>
.row {
    height: 93vh;
}
</style>

<script>
var Raphael = require('raphael');
const io = require('socket.io-client');
const max_attempts = 3;
const primary = "http://localhost:3000/";
const backup = "http://localhost:3001/";
var host = primary;

var DrawerComponent = {
    data() {
        return {
            users: [],
            statusConnecting: true,
            statusOnline: false,
            statusOffline: false
        }
    },
    props: [
        'nsp', 'host'
    ],
    mounted: function () {
        // Setting raphael stuff
        this.blackboard = document.getElementById('blackboard');
        this.rect = this.blackboard.getBoundingClientRect();
        this.paper = Raphael(this.blackboard, this.rect.width, this.rect.height);
        this.pressed = false;
        this.activePath = null;
        console.log(Raphael);
        window.addEventListener('resize', this.OnResize);
        // Connecting to our namespace
        this.boardID = this.$route.params.board;
        if (this.nsp != null) {
            host = this.host || host;
            this.connect(host);
        }
        else {
            console.log('Session is undefined');
            this.statusConnecting = false;
            this.statusOffline = true;
            this.statusOnline = false;
        }
    },
    beforeDestroy: function () {
        window.removeEventListener('resize', this.OnResize);
    },
    computed: {

    },
    methods: {
        connect: function(host) {
            var namespace = host + this.nsp;
            console.log('Connecting to ' + namespace);
            this.socket = new io(namespace, {
                reconnection: true,
                reconnectionAttempts: max_attempts,
            });
            // Hooks to Socket IO
            // On successfull connection
            this.socket.on('connect', function() {
                console.log('Client connected to ' + this.boardID + ' on ' + host + ' as ' + this.socket.id);
                this.statusConnecting = false;
                this.statusOffline = false;
                this.statusOnline = true;
            }.bind(this));
            // On reconnecting
            this.socket.io.on('reconnect_attempt', function(reconnect_attempt) {
                console.log('Reconnection attempt ' + reconnect_attempt);
                this.statusConnecting = true;
                this.statusOffline = false;
                this.statusOnline = false;
            }.bind(this));
            // On connection error
            this.socket.io.on('connect_error', function(error) {
                console.log(error);
                this.users = [];
                this.statusConnecting = false;
                this.statusOffline = true;
                this.statusOnline = false;
            }.bind(this));
            // On reconnection failure
            this.socket.io.on('reconnect_failed', function() {
                this.statusConnecting = false;
                this.statusOffline = true;
                this.statusOnline = false;
                this.connect(backup);
            }.bind(this));
            // System events
            this.socket.on('fetch', function(payload) {
                for (var k = 0; k < payload.clients.length; k++) {
                    var user = payload.clients[k];
                    var s = user.split('#');
                    this.users.push(s[1]);
                }
                for (var i = 0; i < payload.content.length; i++) {
                    var item = payload.content[i];
                    var path = this.paper.path().attr(item.attr);
                    path.id = item.id;
                }
            }.bind(this));
            // Other client joined board 
            this.socket.on('join', function(payload) {
                console.log(payload.socketID + ' joined board');
                var s = payload.socketID.split('#');
                this.users.push(s[1]);
            }.bind(this));
            // Other client left board 
            this.socket.on('leave', function(payload) {
                console.log(payload.socketID + ' left board');
                var s = payload.socketID.split('#');
                var index = this.users.indexOf(s[1]);
                this.users.splice(index, 1);
            }.bind(this));
            // Board gets updated
            this.socket.on('update', function(payload) {
                var path = this.paper.path().attr(payload.attr);
                path.id = payload.id;
            }.bind(this));
        },
        OnResize: function (event) {
            var blackboard = document.getElementById('blackboard');
            this.rect = blackboard.getBoundingClientRect();
            this.paper.setSize(this.rect.width, this.rect.height);
        },
        OnMouseMove: function (event) {
            if (this.pressed) {
                var x = event.clientX - this.rect.left;
                var y = event.clientY - this.rect.top;
                var path = this.activePath.attr("path");
                path += "L" + x + " " + y + "M" + x + " " + y;
                this.activePath.attr("path", path);
            }
        },
        OnMouseDown: function (event) {
            this.pressed = true;
            var x = event.clientX - this.rect.left;
            var y = event.clientY - this.rect.top;
            this.activePath = this.paper.path("M" + x + " " + y).attr({
                stroke: 'cyan',
                'stroke-width': 5,
            });
        },
        OnMouseUp: function (event) {
            this.pressed = false;
            var path = this.activePath.attr("path");
            path += "Z";
            this.activePath.attr("path", path);
            this.socket.emit('update', {
                id: this.activePath.id,
                type: this.activePath.type,
                attr: this.activePath.attr()
            });
        },
    },
    components: {

    }
}
module.exports = DrawerComponent;
</script>