<template>
    <div class="row justify-content-center">
        <div class="col align-self-center text-center">
            <h1>Joined</h1>
        </div>
    </div>
</template>

<style scoped>
    .row {
        height: 93vh;
    }
</style>

<script>
var JoinSessionComponent = {
    data() {
        return {

        }
    },
    computed: {

    },
    methods: {

    },
    components: {

    }
}
module.exports = JoinSessionComponent;
</script>