<template>
    <div class="row justify-content-center">
        <div class="col-4 align-self-center d-flex justify-content-center">
            <button type="button" class="btn btn-primary" v-on:click="showCreateDialog">Create</button>
        </div>
        <div class="col-4 align-self-center d-flex justify-content-center">
            <div class="alert alert-danger" role="alert" v-if="serverError">
                <strong>Oh snap!</strong> Something went wrong. Please try again.
            </div>
            <div class="alert alert-warning" role="alert" v-if="boardNotFound">
                <strong>Oh snap!</strong> Board with given name does not exist.
            </div>
            <form class="form-inline">
                <div class="form-group d-inline-block" v-bind:class="{ 'has-danger': idEmpty }">
                    <input type="text" class="form-control" placeholder="Board ID" id="join-board-id" v-bind:class="{ 'form-control-danger': idEmpty }">
                    <div class="form-control-feedback" v-if="idEmpty">The ID must be non empty.</div>
                </div>
                <button type="submit" class="btn btn-primary ml-2" v-on:click="join">Join</button>
            </form>
        </div>
        <!-- Create session dialog -->
        <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createModalLabel">Blackboard</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert" v-if="serverError">
                            <strong>Oh snap!</strong> Something went wrong. Please try again.
                        </div>
                        <p>Enter name and security options to create a new blacboard.</p>
                        <form>
                            <div class="form-group" v-bind:class="{ 'has-danger': nameEmpty }">
                                <label for="create-board-name" class="form-control-label">Board name:</label>
                                <input type="text" class="form-control" id="create-board-name" v-bind:class="{ 'form-control-danger': nameEmpty }">
                                <div class="form-control-feedback" v-if="nameEmpty">You need to provide a non-empty name.</div>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                <input class="form-check-input" id="create-board-check" type="checkbox" value="" v-on:click="togglePasswordField">
                                    Private (requires password)
                                </label>
                            </div>
                            <div class="form-group collapse" id="create-board-password-area" v-bind:class="{ 'has-danger show': passwordEmpty }">
                                <label for="create-board-password" class="form-control-label">Password:</label>
                                <input type="password" class="form-control" id="create-board-password" v-bind:class="{ 'form-control-danger': passwordEmpty }">
                                <div class="form-control-feedback" v-if="passwordEmpty">You need to provide a non-empty password.</div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" v-on:click="create">Create</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Join session dialog -->
        <div class="modal fade" id="join-modal" tabindex="-1" role="dialog" aria-labelledby="joinModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="joinModalLabel">Blackboard</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-warning" role="alert" v-if="passwordWrong">
                            <strong>Password is incorrect!</strong>
                        </div>
                        <div class="alert alert-danger" role="alert" v-if="serverError">
                            <strong>Oh snap!</strong> Something went wrong.
                        </div>
                        <p>Enter password.</p>
                        <form>
                            <div class="form-group" v-bind:class="{ 'has-danger show': passwordEmpty }">
                                <label for="join-board-password" class="form-control-label">Password:</label>
                                <input type="text" class="form-control" id="join-board-password" v-bind:class="{ 'form-control-danger': passwordEmpty }">
                                <div class="form-control-feedback" v-if="passwordEmpty">You need to provide a non-empty password.</div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" v-on:click="joinPrivate">Connect</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
.row {
    height: 93vh;
}
</style>

<script>
const axios = require('axios');
const primary = "http://localhost:3000/";
const backup = "http://localhost:3001/";
var host = primary;

var WelcomeComponent = {
    data() {
        return {
            nameEmpty: false,
            passwordEmpty: false,
            idEmpty: false,
            serverError: false,
            boardNotFound: false,
            passwordWrong: false
        }
    },
    computed: {

    },
    methods: {
        togglePasswordField: function(event) {
            var checked = $('#create-board-check').is(':checked');
            if (checked) $('#create-board-password-area').collapse('show');
            else $('#create-board-password-area').collapse('hide');
        },
        showCreateDialog: function(event) {
            $('#create-modal').modal('show');
        },
        create: function (event) {
            // Check correctness of input data
            var correct = true;
            var boardName = $('#create-board-name').val();
            var password = $('#create-board-password').val();
            if (boardName === "") {
                this.nameEmpty = true;
                correct = false;
            }
            else this.nameEmpty = false;
            var secured = $('#create-board-check').is(':checked');
            if (secured) {
                if (password === "") {
                    this.passwordEmpty = true;
                    correct = false;
                }
                else this.passwordEmpty = false;
            }
            if (correct) {
                // Call server
                const url = host + "boards/";
                axios.post(url, {
                    name: boardName,
                    private: secured,
                    password: password
                }).then(function (response) {
                    if (response.status == 200) {
                        $('#create-modal').modal('hide');
                        this.$router.push({
                            name: 'board',
                            params: { 
                                board: response.data["id"], 
                                nsp: response.data["nsp"],
                                host: host 
                            }
                        });
                    }
                    else {
                        this.serverError = true;
                    }
                }.bind(this))
                .catch(function (error) {
                    console.log(error);
                    this.serverError = true;
                    host = backup;
                }.bind(this));
            }
        },
        join: function (event) {
            var boardID = $('#join-board-id').val();
            if (boardID === "") {
                this.idEmpty = true;
                return;
            }
            else this.idEmpty = false;
            const url = host + "boards/" + boardID;
            axios.get(url)
                .then(function (response) {
                    if (response.status == 200) {
                        // Board is not private, join freely
                        this.$router.push({
                            name: 'board',
                            params: { 
                                board: boardID, 
                                nsp: response.data["nsp"],
                                host: host 
                            }
                        });
                    }
                }.bind(this))
                .catch(function (error) {
                    if (error.response) {
                        switch (error.response.status) {
                            case 401:
                                // Show password dialog
                                $('#join-modal').modal('show');
                                break;
                            case 404:
                                // Board not found
                                this.boardNotFound = true;
                                break;
                            case 500:
                                // Some other error
                                this.serverError = true;
                                host = backup;
                                break;
                        }
                    }
                    console.log(error);
                }.bind(this));
        },
        joinPrivate: function(event) {
            var boardID = $('#join-board-id').val();
            // Extreme exit if for some strange reason ID is empty
            if (boardID === "") return;
            // Check password
            var password = $('#join-board-password').val();
            if (password === "") {
                this.passwordEmpty = true;
            }
            else {
                this.passwordEmpty = false;
                const url = host + "boards/" + boardID + "?pass=" + password;
                axios.get(url).then(function (response) {
                    if(response.status == 200) {
                        $('#join-modal').modal('hide');
                        this.$router.push({
                            name: 'board',
                            params: { 
                                board: boardID, 
                                nsp: response.data["nsp"],
                                host: host 
                            }
                        });
                    }
                }.bind(this))
                .catch(function (error) {
                    if (error.response) {
                        switch (error.response.status) {
                            case 403:
                                // Incorrect password
                                this.passwordWrong = true;
                                break;
                            case 500:
                                // Some other error
                                this.serverError = true;
                                host = backup;
                                break;
                        }
                    }
                    console.log(error);
                }.bind(this));
            }
        }
    },
    components: {

    }
}
module.exports = WelcomeComponent;
</script>